/*------------------------------------------------------------

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░▓▓▓▓▓▓░░░▓▓▓▓▓▓░░░▓▓▓▓▓▓░░▓▓▓▓▓▓░░░░░░░░░░░░░░░░
░░░░░░░░░░░░▓▓░░░░░░░░▓▓░░░░▓▓░░░░▓▓░░░░▓▓░░░░▓▓░░░░░░░░░░░░░░
░░░░░░░░░░░░▓▓░░▓▓▓▓░░▓▓▓▓▓▓░░░░░░▓▓░░░░▓▓░░░░▓▓░░░░░░░░░░░░░░
░░░░░░░░░░░░▓▓░░░░▓▓░░▓▓░░░░▓▓░░░░▓▓░░░░▓▓░░░░▓▓░░░░░░░░░░░░░░
░░░░░░░░░░░░░░▓▓▓▓▓▓░░▓▓░░░░▓▓░░▓▓▓▓▓▓░░▓▓▓▓▓▓░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

------------------------------------------------------------*/

// Grid configuration
$grid-gutters: 10px !default;
$grid-columns: 12 !default;
$grid-children: 'div' !default;

// Include one of these on the grid's parent element/wrapper
@mixin grid-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  margin-left: -($grid-gutters / 2);
  margin-right: -($grid-gutters / 2);
}

/*------------------------------------------------------------
EXAMPLE:
.grid-container-element {
  $grid-children: '.grid-column-element' !global;
  @include grid-container();
  @include grid(1, 2, 4, 5);
}
.grid-column-element {
  ...
}

The above styles will result in a .grid-container-element which
has 4 columns and the layout will be something like this:

| 1 |  2  |    4    |     5     |

------------------------------------------------------------*/
@mixin grid($cols...) {
  // Set styles for the child element
  & > #{$grid-children} {
    box-sizing: border-box;
    margin-right: $grid-gutters / 2;
    margin-left: $grid-gutters / 2;

    // Setting columns
    @for $i from 1 through length($cols) {
      &:nth-of-type(#{length($cols)}n + #{$i}) {
        width: calc(100% * (#{nth($cols, $i)} / #{$grid-columns}) - #{$grid-gutters});
      }
    }
  }
}

// For those moments when you just need to align an element to the grid...
@mixin grid-col($cols) {
  box-sizing: border-box;
  margin-right: $grid-gutters / 2;
  margin-left: $grid-gutters / 2;
  width: calc(100% * (#{$cols} /  #{$grid-columns}) - #{$grid-gutters});
}
